.container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
}
h1,h2 {
    font-family: "quicksand", sans-serif;
    color: #EAEFD3;
}
p {
    font-family:'Trebuchet MS', Arial, sans-serif;
    color: #27233A;
    margin-left: 650px;
    text-align: justify;
    margin-right: 20px;
}
* {
    background-color: #B3C0A4;
}
h1 {
    background-color: #EAEFD3;
    color:#B3C0A4;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
img {
    border-width: 5px;
    border-color: #EAEFD3;
    border-style: solid;
    float: left;
    position: absolute;
    top:80px;
    left: 15px;
    margin-left: 15px;
    border-radius: 10px;
}
ul {
    /* margin-left: 650px; */
    font-family:'Trebuchet MS', Arial, sans-serif;
    color: #27233A;
    margin-right: -400px;
    padding-right: 300px;
    margin-top: -10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 650px;
    width: 800px;
}