h1,h2 {
    font-family: "quicksand", sans-serif;
    color: #EAEFD3;
}
p {
    font-family:'Trebuchet MS', Arial, sans-serif;
    color: #27233A;
    /* margin-left: 650px; */
    text-align: justify;
    /* margin-right: 20px; */
}
* {
    background-color: #B3C0A4;
}
h1 {
    background-color: #EAEFD3;
    color:#B3C0A4;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    /* margin-left: 20px;
    margin-right: 20px; */
}
img {
    border-width: 5px;
    border-color: #EAEFD3;
    border-style: solid;
    /* float: left;
    position: absolute;
    top:80px;
    left: 15px;
    margin-left: 15px; */
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}
ul {
    /* margin-left: 650px; */
    font-family:'Trebuchet MS', Arial, sans-serif;
    color: #27233A;
    /* margin-right: -400px;
    padding-right: 300px;
    margin-top: -10px; */
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "head head head head" 
    "photo photo text text"
    "photo photo list1 list2";
}
.head {
    grid-area: head;
}
.photo {
    grid-area: photo;
    justify-self: center;
}
.text {
    grid-area: text;
}
.list1 {
    grid-area: list1;
}
.list2 {
    grid-area: list2;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "head head"
        "photo photo"
        "text text" 
        "list1 list2";
    }
}